
.App {
  text-align: center;
}
.Content{
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
.Cardstyle{
  margin-top: 20px;
}

.columnstyle {
  border-radius: 15px;
  margin-right: 8px;
  margin-left: 8px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: oldlace ;
}

.show>.dropdown-menu {
  display: block;
  position: absolute;
}
.Content li{
  /*font-size:22px;*/
  margin-top: 17px;
}
.buttons_group{
  margin-bottom: 6px;
}
.buttons_group .spanstyle{
  margin-right: 10px;
}

.Board {
  /*font-size:22px;*/
  margin-top: 15px;
  margin-right: 12px;
  margin-left: 12px;
}
.stepahead{
  margin-left: 12px;
}
.addnewitem_style {
  margin-bottom: 15px;
}

.columnheader {
  margin-top: 15px;
}
.Createtask{
  margin-top: 20px;
  margin-down: 20px;
  padding-bottom: 30px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
